node_modules
npm-debug.log
.git
.gitignore
.dockerignore
README.md
.env
.env.local
.DS_Store
build
dist
coverage
*.log
.vscode
.idea
public/favicon.ico
public/manifest.json
.env.example
package-lock.json
